.skill_con{
    height: 300px;
    background: linear-gradient(to right, #2f6ac2, #220c70, #810016); /* เปลี่ยนสีตามที่ต้องการ */
    overflow: hidden;
    text-align: center;
    color: #ffffff;

    & .skill_title{
        margin-top: 40px;
        font-size: 28px;
        
    }
    & .skill_list{
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 70px;
        flex-direction: row;
        & li {
            margin: 0 40px;
            & svg {
                height: 60px;
                width: 60px;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .skill_con{
        height: auto;

        & .skill_list{
            flex-direction: column;
            margin: 50px 0;

            & li{
                margin: 20px 0;
            }
        }
    }
    
}